  body {
    padding: 0;
    margin: 0;
    background-color: rgb(232, 219, 203);
  }

  button {
    background-color: #68c56b;
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 20px 50px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    color: aliceblue;
}
